<div id="menubar">
    <ul id="menu">
        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
        <li><a href="http://127.0.0.1:8000/">Главная страница</a></li>
        <li><a href="http://127.0.0.1:8000/about/">Коротко о нас</a></li>
        <li><a href="http://127.0.0.1:8000/contacts/">Контакты</a></li>
        <li><a href="http://127.0.0.1:8000/customer_list/">Наши золотки, наши Заказчики</a></li>
        <li><a href="http://127.0.0.1:8000/add_service/">Внести данные о Заказчике</a></li>
    </ul>
</div>

