{% extends "base.html" %}
{% block title %}
    Добро пожаловать на главную страницу!
{% endblock %}
{% block style %}
	{% include "inc_style.html" %}
{% endblock %}
{% block body %}

<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="index.html">OOO <span class="logo_colour">"Industrial Automation"</span></a></h1>
                <h2>Индустриальные системы автоматики</h2>
            </div>
        </div>
        {% block menu %}
          {% include "inc_main_menu.html" %}
        {% endblock %}
    </div>
    <div id="site_content">
         {% block bar %}
          {% include "inc_news_bar.html" %}
        {% endblock %}

        <div id="content">
        <div>
	 «Industrial Automation» выполняет полный комплекс работ по созданию и сопровождению АСУ ТП на всех этапах жизненного цикла, обеспечивая соблюдение сроков проекта и бюджетных ограничений:
	</div>
	<ul>
	<li>Управление проектом</li>
	<li>Обследование и разработка концепции автоматизации</li>
	<li>Проектирование</li>
	<li>Разработка программного обеспечения</li>
	<li>Изготовление и поставка оборудования</li>
	<li>Монтаж</li>
	<li>Пусконаладочные работы</li>
	<li>Техническое обслуживание</li>
	<li>Сопровождение и модернизация</li>
	</ul>
	<div>
		 Предлагаемый компанией комплекс услуг охватывает все уровни АСУ ТП:
	</div>
	<ul>
		<li>Нижний (полевой) уровень (КИПиА)</li>
		<li>Средний и верхний уровень АСУ ТП (станции управления, АРМы, серверы)</li>
		<li>Уровень диспетчерского управления и уровень предприятия (MES-системы, системы управления технологической информацией (СУТИ), системы технического обслуживания и ремонта)</li>
	</ul>
	<p>
		Как системный интегратор «Industrial Automation» гарантирует, что в предложенном заказчику решении будут использованы наиболее адекватные для данной задачи программно-технические 			средства. Выбор технических решений для реализации каждого проекта определяется задачами и функциями создаваемой системы, условиями эксплуатации и обслуживания, а также предпочтениями 		заказчика.
	</p>
        </div>
    </div>
	<div>
		<a href="/create_equipment/">Создать новую категорию</a>
	</div>
	<div>
		<h1>Список существующего оборудования</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество сервисов: {{item.services_count()}}</span>
			<a href="/service_list/?id={{item.id}}">Показать сервисы</a>
        </li>
        {% endfor %}
	</div>
    {% block footer %}
          {% include "inc_footer.html" %}
    {% endblock %}
</div>
{% endblock %}
