{% extends "base.html" %}
{% block title %}
Коротко о нас
{% endblock %}
{% block style %}
	{% include "inc_style.html" %}
{% endblock %}
{% block body %}

  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="index.html">OOO <span class="logo_colour">"Industrial Automation"</span></a></h1>
          <h2>Индустриальные системы автоматики</h2>
        </div>
      </div>
        {% block menu %}
          {% include "inc_main_menu.html" %}
        {% endblock %}
    </div>
    <div id="site_content">
        {% block bar %}
          {% include "inc_news_bar.html" %}
        {% endblock %}

      <div id="content">
        <!-- insert the page content here -->
        <h1>О нас.</h1>
		<p>Российская инжиниринговая компания ООО «Industrial Automation» оказывает полный комплекс услуг по проектированию, разработке и внедрению 			автоматизированных 			систем управления технологическими процессами для предприятий в сфере добычи и переработки нефти и газа, металлургии и других отраслей.
		<br>
		<br>
		Более двадцати лет «Industrial Automation» воплощает свою миссию и использует современные технологии, опыт и знаний своих сотрудников для повышения производственной эффективности и 			промышленной безопасности бизнеса заказчиков.
		<br>
		<br>
		С 1993 г. компания реализовала более 500 проектов АСУ ТП и промышленных информационных систем, обеспечивающих надёжную и безопасную работу крупнейших месторождений нефти и газа 		Российской Федерации.
		<br>
		<br>
		В качестве генерального подрядчика по автоматизации и как системный интегратор компания принимала участие в создании систем управления крупных месторождений: АСУ ТП Приобского 			месторождения, АСУ ТП и СУТИ месторождений Уватской группы, проекте комплексной автоматизации месторождений Салымской группы, ИУС Находкинского НГКМ, АСУБ Ванкорского месторождения и 			других. Компания также разрабатывает и внедряет системы управления для объектов энергетики, нефтехимии, транспорта, горнорудной промышленности.</p>
      </div>
    </div>
    {% block footer %}
          {% include "inc_footer.html" %}
    {% endblock %}
  </div>

{% endblock %}

